* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100%;
}

header {
    width: 100%;
}

.box-header {

    width: 100%;
    /*position: fixed;*/
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /*padding: 20px;*/

}

.image-mobile-proposito {
    display: none;
}


.link-icon {
    width: 20px;
    height: 20px;
}


.figure-logo {
    margin: 10px;
}

.image-mobile {
    display: none;
}

.header__navigation {
    display: flex;
}

.header__navigation ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    justify-content: space-between;
}

.header__navigation ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    /*margin-left: 20px;*/
    width: 11vw;
    height: 100%;
    /*height: 100%;*/
    border-right: 0.5px solid #CBE2F5;
    /*border-left: 0.5px solid rgb(161, 159, 159);*/
    align-content: center;
    justify-content: space-around;

}

.header__navigation ul li a:hover {
    color: #FFCC29;
}

.header__navigation_li figure {
    margin: 10px;
}

.header__navigation_li a {
    padding-top: 0px;
    padding-bottom: 0;
    color: #573D8D;
    font-family: 'Montserrat-Bold';
    text-decoration: none;
    font-size: 11px;
}

.header_icono {
    display: none;
}

.blue-banner-title {
    color: #365180;
}

.header--scroll {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.361);
}

.second-header {

    width: 100%;
    background-color: #573D8D;
    display: flex;
}

.second-header--scroll {
    position: fixed;
    z-index: 10;
}

.second-header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.second-header-box_text {
    padding: 10px;
}

.second-header-box_text ul {
    width: 40vh;
    margin-bottom: 0;
}

.second-header-box_icons ul {
    margin-bottom: 0;
    margin-left: 20vh;
}

.second-header-box_icons {
    padding: 0;
}

.header__list-li {
    font-family: 'Montserrat-Medium';
    font-size: 14px;
    display: flex;
}

.header__list-li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    margin-right: 6px;
}

.second-header-box_text p {
    color: #ffffff;
    text-transform: uppercase;
}

.second-header-box_icons {
    padding: 10px;
}

.second-header-box_icons p {
    color: #3A527B;
}

.second-header-box_text ul {
    list-style: none;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    width: 50vh;
}

.second-header-box_icons ul {
    list-style: none;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    width: 20vh;


}


.contact__list-li {
    margin-right: 6px;
}

/* #2F3C5F */
.icon-color {
    fill: #71bf4f !important;
}

.header__list-li i {
    color: #71BF4F;
}


.second-header-mobile {
    display: none;
}

.header__list-li a {
    font-size: 12px;
}

.link-icon {
    width: 15px;
    height: 15px;
}

.contact__list-li a img {
    width: 15px;
    height: 15px;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

p {
    font-family: 'Montserrat-Medium';
    color: #fff;
}


/* ------- evolucion-section ------ */

.evolucion-section {
    
    display: flex;
    justify-content: center;
    padding-top: 4vw;
    width: 100%;
    height: auto;
    padding-bottom: 10vw;
    background: url('../images/fondo\ 1.png');
}

.evolucion-section__image {
    max-width: 100%;
    height: auto;
}

.evolucion-section__image img {
    width: 100%;
    height: auto;
}


.evolucion-section__content {
    display: flex;
    flex-direction: column;
    width: 23vw;
    margin-bottom: -1vw;
    margin-left: -3vw;

   
}

.evolucion-section__content_text-p {
    margin-bottom: 1.5vw;
}

.evolucion-section__content_text-p:last-child {
    margin-bottom: 4vw;
}

.evolucion-section__content_text-p p {
    line-height: 25px;
    font-size: 14px;
}

.evolucion-section__content_form form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.evolucion-section__content_form form .form-input input {
    width: 10vw;
    height: 20px;
    margin-bottom: 10px;
}

.evolucion-section__content_form form .form-submit input {
    background-color: #FEC428;
    width: 5vw;
    color: #fff;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    font-size: 14px;
    padding: 3px;

}

.evolucion-section__content_form form .form-input label {
    margin-right: 10px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat-Medium';
}

.evolucion-section__content_image {
    position: relative;
    display: flex;
    justify-content: flex-end;
    
    
    
}

.evolucion-section__content_image img {
    position: absolute;
    bottom: -6vw;
}

.evolucion-section__content_image_mobile {
    display: none;
}



/* ------------- */

/*--- valor section ----*/

.valor-section {

    display: flex;
    justify-content: center;
    padding-top: 4vw;
    padding-bottom: 1vw;
    width: 100%;
    height: auto;
    background: url('../images/fondo\ 2.png');

}

.valor-section__content {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 60%;
    margin-top: 10vw;
    padding-left: 43vw;
    height: fit-content;
    

   
}

.valor-section__content_text-p {
    margin-bottom: 2vw;
   
}

.valor-section__content_text-p p {
    font-size: 14px;
    color: #573D8D;
    line-height: 25px;
}

.valor-section__image {
    position: relative;
    display: flex;
    justify-content: center;
}

.valor-section__image {
    position: absolute;
}


.valor-section__content_image {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;  
    
    
}

.valor-section__content_image img {
    position: absolute;
    right: 3vw;
    margin-bottom: 1vw;
    
}

/* ----------- */


/*--- stress section ----*/

.stress-section {

    display: flex;
    padding-top: 4vw;
    align-items: center;
    width: 100%;
    height: auto;
    background: url('../images/fondo\ 3.png');
    flex-direction: column;
}

.stress-section__image {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.stress-section__image img {
    width: 100%;
    height: auto;
}


.stress-section__content_text-p {
    margin-bottom: 2vw;
   
}

.stress-section__content_text-p p {
    font-size: 14px;
    color: #573D8D;
    line-height: 25px;
}

.stress-section__content {
    display: flex;
    width: 40%;
    margin-top: 2vw;
    margin-left: 23vw;
}


.stress-section__content_image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12vw;
    margin-bottom: 3vw;
}



.stress-section__content_image img {
    position: absolute;
    margin-left: 2vw;
    
}


/* ------- */


/* --- results section ---- */

.results-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 4vw;
    
    width: 100%;
    height: auto;
    background: url('../images/fondo\ 4.png');
}

.results-section__content {
    width: 17%;
    padding-top: 7.3vw;
}

.results-section__image {
    max-width: 100%;
    height: auto;
}

.results-section__image .letra-4 {
    width: 100%;
    height: auto;
}

.results-section__content_text {
    padding-right: 1vw;
}


.results-section__content_text-p {
    margin-bottom: 2vw;
   
}


.results-section__content_text-p p {
    font-size: 14px;
    color: #573D8D;
    line-height: 25px;
}

.results-section__image_content-image {
    position: relative;
    margin-bottom: 8vw;
    margin-right: 3vw;
}

.results-section__image_content-image img {
    position: absolute;
    margin-top: 2vw;
    right: 0;
}

.results-section__content_image-mobile {
    display: none;
}




/* ------ */

/* --- comunication section --- */

.comunication-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 4vw;
    
    width: 100%;
    height: auto;
    background: url('../images/fondo\ 5.png');
}

.comunication-section__content {
    width: 19%;
    margin-bottom: 5vw;
    
}

.comunication-section__content_text {
    padding-left: 2vw;
}

.comunication-section__content_text-p {
    margin-bottom: 1vw;
   
}

.comunication-section__content_text-p p {
    line-height: 25px;
    font-size: 14px;
    
}

.comunication-section__image {
    max-width: 100%;
    height: auto;

}

.comunication-section__image .letra-5 {
    width: 100%;
    height: auto;
}

.comunication-section__image_content-image {
    position: relative;
}

.comunication-section__image_content-image img {
    position: absolute;
    margin-top: 2vw;
    right: 0;
}



/* ------ */

/* --- vinculos-section --- */

.vinculos-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vw;
    width: 100%;
    height: auto;
    background: url('../images/fondo\ 4.png');
}

.vinculos-section__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4vw;
}

.vinculos-section__content_text {
    width: 30%;
    padding-right: 1vw;
}

.vinculos-section__content_text-p {
    margin-bottom: 2vw;
   
}

.vinculos-section__content_text-p p {
    font-size: 14px;
    color: #573D8D;
    line-height: 25px;
}

.vinculos-section__content_text-p:first-child p {
    font-size: 16px;
}


.vinculos-section__content_form form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.vinculos-section__content_form form .form-input input {
    width: 12vw;
    height: 20px;
    margin-bottom: 10px;
}

.vinculos-section__content_form form .form-input label {
    margin-right: 10px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat-Medium';
}

.vinculos-section__content_form form .form-submit input {
    background-color: #5A4296;
    width: 5vw;
    color: #fff;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    font-size: 14px;
    padding: 3px;

}

.vinculos-section__content_image-logo {
    padding-right: 5vw;
    margin-top: -2vw;
}

.vinculos-section__image {
    max-width: 100%;
    height: auto;
    margin-left: 24vw;
    margin-bottom: 1vw;

}

.vinculos-section__image img {
    width: 100%;
    height: auto;
}


.second-footer {

    width: 100%;
    background-color: #573D8D;
    display: flex;
}

.second-footer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.second-footer-box_text {
    padding: 10px;
}

.second-footer-box_text p {
    color: #ffffff;
    text-transform: uppercase;
}

.second-footer-box_icons {
    padding: 10px;
}

.second-footer-box_icons p {
    color: #FFCC29;
}

.logo-footer-mobile {
    display: none; 
}



/* ------ */





/* --- media queries --- */

@media(min-width: 1600px) {

    .second-header-mobile {
        display: none;
    }
    

    .header__list-li {
        font-family: 'Montserrat-Medium';
        font-size: 14px;
    }

    .tasks-title-section h1 {
        font-size: 26px;
    }

    .header__navigation ul li {
        width: 10vw;
        
    }

    .figure-logo {
        margin: 10px;
        margin-left: 30vh;
    }

    .header__navigation_li figure {
        margin-top: 20px;
    }

    .header__navigation ul {
        margin-right: 19vh;
    }

    .header__navigation_li a {
        font-size: 12px;
    }

    .second-header-box_text ul {
        width: 40vh;
        margin-bottom: 0;
    }

    .second-header-box_icons ul {
        margin-bottom: 0;
        margin-left: 20vh;
    }

    .second-header-box_icons {
        padding: 10px;
    }

    footer {
        padding: 40px;
    }

    .footer-box {
        height: 12vh;
        margin-left: 4vh;
    }

    .footer-contact-info {
        margin: 40px;
        margin-left: 40vh;
    }

    .footer-contact-info ul {
        margin-top: 4vh;
    }

    .contact__list-li {
        margin-right: 6px;
        font-size: 18px;
        letter-spacing: 1px;
        font-family: 'Montserrat-Medium';
    }

    .second-footer-box_text p {
        font-size: 13px;
        letter-spacing: 3px;
    }


        
}




@media (min-width:1900px) {

    .header__list-li a {
        font-size: 12px;
        display: flex;
        align-items: center;
    }

    .link-icon {
        width: 15px;
        height: 15px;
    }

    .contact__list-li a img {
        width: 15px;
        height: 15px;
    }

    .header__list-li {
        font-family: 'Montserrat-Medium';
        font-size: 14px;
    }

    .header__navigation ul li {
        width: 205px;
        pad: 12px;
    }

    .figure-logo {
        margin: 10px;
        margin-left: 30vh;
    }

    .header__navigation_li figure {
        margin-top: 20px;
    }

    .header__navigation ul {
        margin-right: 19vh;
    }

    .header__navigation_li a {
        font-size: 18px;
    }

    .second-header-box_text ul {
        width: 17vw;
        margin-bottom: 0;
        margin-top: 0;
    }

    .second-header-box_text {
        padding-left: 60px;
    }

    .second-header-box_icons ul {
        margin-bottom: 0;
        margin-left: 20vh;
    }

    .second-header-box_icons {
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    footer {
        padding: 40px;
    }

    .footer-box {
        height: 12vh;
        margin-left: 4vh;
    }

    .footer-contact-info {
        margin: 40px;
        margin-left: 40vh;
    }

    .footer-contact-info ul {
        margin-top: 4vh;
    }

    .contact__list-li {
        margin-right: 6px;
        font-size: 18px;
        letter-spacing: 1px;
        font-family: 'Montserrat-Medium';
    }

    .second-footer-box_text p {
        font-size: 13px;
        letter-spacing: 3px;
    }

    /*--- evolucion section ---*/

    .evolucion-section__content_text-p p {
        font-size: 16px;
    }

    /* ------ */

    /*--- valor section ---*/

    .valor-section__content {
        margin-top: 9vw;
    }

    .valor-section__content_text-p p {
        font-size: 16px;
    }



    /* ------ */

    /*--- stress section ---*/

    .stress-section__content_text-p p {
        font-size: 16px;
    }



    /* ------ */

    /*--- stress section ---*/

    .results-section__content_text-p p {
        font-size: 16px;
    }



    /* ------ */

    /* --- comunication section --- */

    .comunication-section__content_text-p p {
        font-size: 16px;
    }

    .comunication-section__image_content-image img {
        margin-top: 3vw;
    }

    .comunication-section__content {
        margin-bottom: 3vw;
    }



    /* ------ */

    /* --- vinculos section --- */

    .vinculos-section__content_text-p:first-child p {
        font-size: 18px;
    }

    .vinculos-section__content_text-p p {
        font-size: 16px;
    }

    /* ------ */

}

@media (max-width:1440px) {

    .second-header-mobile {
        display: none;
    }

    /*--- evolucion section ---*/

    .evolucion-section__image {
        display: flex;
        justify-content: center;
        max-width: 100%;
        height: auto;
    }

    .evolucion-section__image img {
        width: 90%;
    }


    /* ------ */

    /*--- valor section ---*/

    .valor-section__image {
        max-width: 100%;
        height: auto;
    }

    .valor-section__image img {
        width: 100%;
        height: auto;
    }

    .valor-section__content {
        width: 70%;
        margin-top: 12vw;
        padding-left: 52vw;
    }

    /* ------ */

    /*--- stress section ---*/

    .results-section__content {
        width: 21%;
        padding-top: 10.3vw;
    }

    .results-section__image_content-image {
        margin-bottom: 10vw;
    }

    .vinculos-section__image img {
        width: 90%;
        height: auto;
    }



    /* ------ */

    /* --- vinculos section --- */

    .vinculos-section__content_form form .form-submit input {
        width: 8vw;
    }

    .vinculos-section__content_text {
        width: 41%;
    }


    /* ------ */


}

@media (max-width:1360px) {
    .stress-section__content_image {
        margin-right: 13vw;
    }

    .stress-section__content_image img {
        margin-left: 0vw;
    }

}

@media(max-width: 1024px){

    .valor-banner-section {
        height: 40vw;
    }

    .title-spanish h1 {
        font-size: 55px;
    }

    .second-header-box_text ul {
        width: 60vh;
    }

    .header-icons {
        width: 28px;
        height: 28px;
    }
    
    .header__list-li {
        font-size: 0.8rem;
    }

    .second-footer-box_text p {
        
        font-size: 0.8rem;  

    }

    .second-footer-box_icons p {
        font-size: 0.8rem;

    }

}


@media (max-width:1110px) {

    .header__navigation ul li {
        width: 12vw;
    }

    /*--- evolucion section ---*/

    .evolucion-section__content_image_mobile {
        display: block;
        max-width: 100%;
        height: auto;
        margin-top: 4vw;
    }

    .evolucion-section__content_image_mobile img {
        width: 200px;
        height: auto;
    }



    .evolucion-section__content_image {
        display: none;
    }

    .evolucion-section {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .evolucion-section__content {
        flex-direction: row;
        justify-content: space-around;
        max-width: 60%;
        width: 57vw;
        margin-left: 0;
        margin-top: 3vw;
    }

    .evolucion-section__content_text {
        width: 30vw;
    }

    .evolucion-section__content_form form .form-input input {
        width: 12vw;
    }

    .evolucion-section__content_form form .form-submit input {
        width: 7vw;
    }

    .evolucion-section__content_text-p p {
        font-size: 13px;
    }

    /* ------ */

    /*--- valor section ---*/

    .valor-section__image img {
        width: 70%;
        height: auto;
    }

    .valor-section__content {
        width: 80%;
        margin-top: 14vw;
        padding-left: 58vw;
    }

    .valor-section__image img {
        width: 90%;
    }

    .valor-section__content_text-p p {
        font-size: 13px;
    }

    /* ------ */

    /*--- stress section ---*/

    .stress-section__image img {
        width: 90%;
    }

    .stress-section__content_image {
        margin-right: 15vw;
    }

    .stress-section__content {
        width: 44%;
    }

    /* ------ */

    /*--- results section ---*/

    .results-section__content {
        width: 25%;
    }

    .results-section__image .letra-4 {
        width: 90%;   
    }

    .results-section__image_content-image {
        margin-right: 10vw;
    }

    /* ------ */

    /*--- comunication section ---*/

    .comunication-section__image_content-image {
        display: none;
    }

    .comunication-section__image .letra-5 {
        width: 90%;
        
    }

    .comunication-section__content {
        width: 30%;
        margin-bottom: 5vw;
        margin-left: -5vw;
    }

    .comunication-section__content_text {
        padding-left: 0vw;
    }

    .comunication-section__image_content-image img {
        position: initial;
    }

    .comunication-section__image_content-image {
        margin-left: 50%;
    }

    /* ------ */
}

@media(max-width: 950px) {

    .second-header-mobile {
        display: none;
    }
    

    header {
        width: 100%;
        height: auto;
        top: 0;
        z-index: 10;
    }

    .box-header {
        background-color: #ffffff;
        width: 100%;
        height: auto;
        top: 0;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 10px;
        flex-wrap: wrap;

    }

    .header__navigation {
        display: none;
    }

    .header--scroll {
        width: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        z-index: 10;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.361);
    }

    .box-header figure {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .header_icono {
        display: block;
        width: 50px;
        height: 50px;
        align-self: center;
        background-color: #ffffff;
        color: #365180;
        border: 1px solid #365180;
    }


    .header__navigation--active {
        display: flex;
        width: 100%;
        height: 25vh;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        height: auto;
        padding-bottom: 10%;
    }

    .header__navigation--disabled {
        display: none;
    }

    .header__navigation ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-direction: column;
        padding: 0;
    }

    .header__navigation ul li {
        margin-bottom: 10px;
    }

    .header__navigation_li figure {
        display: none;
    }

    /*

    .header__navigation {
        width: 100%;
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: none;
        flex-direction: column;
    }*/

    .header__navigation ul li {
        border-right: none;
        margin-top: 14px;
    }


}

@media(max-width: 850px) {

    .link-icon {
        width: 20px;
        height: 20px;
    }

    .second-header-mobile {
        display: flex;
    }

    .logo-footer-desktop {
        display: none;
    }

    .logo-footer-mobile {
        display: block;
    }

    .image-footer-desktop {
        display: none;
    }
    

    .second-header-box {
        justify-content: inherit;
        width: 90%;
    }

    .second-header-desktop {
        display: none;
    }

    .second-header-mobile {
        display: flex;
        flex-direction: row;
    }

    .image-footer-desktop {
        display: block;
    }

    .second-header-box_icons ul {
        margin-left: 72vw;
        width: 0;
        justify-content: start;
    }

    .second-header-box_text ul {
        width: auto;
        margin-top: 4px;
        padding-left: 20px;
    }

    .header_list-li {
        margin-right: 14px;
        padding-left: 0px;
        font-size: 0;
    }

    .li-language {
        display: flex;
        flex-direction: row;
        border-left: 1px solid #7C93B5;
        padding-left: 5px;
    }

    .li-language li a {
        text-decoration: none;
        font-size: 12px;
        
    }

    .li-language li {
        margin-right: 15px;
        margin-left: 5px;
    }

    .contact__list-li {
        margin-right: 14px;
        text-align: center;
    }
   
    .header__list-li {
        margin-right: 14px;
        padding-left: 0px;
        font-size: 0;
    }

    header {
        width: 100%;
        height: auto;
    }

    .box-header {

        background-color: #ffffff;
        width: 100%;
        height: auto;
        top: 0;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 10px 0px;
        flex-wrap: wrap;

    }

    .header__navigation {
        display: none;
    }

    .header--scroll {
        width: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        z-index: 10;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.361);
        
    }

    .box-header figure {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        margin-left: 4vw;
    }

    .header_icono {
        display: block;
        width: 50px;
        height: 50px;
        align-self: center;
        background-color: #ffffff;
        color: #365180;
        border: 1px solid #365180;
        margin-right: 4vw;
    }


    .header__navigation--active {
        display: flex;
        width: 100%;
        height: 25vh;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        height: auto;
        padding-bottom: 10%;
    }

    .header__navigation--disabled {
        display: none;
    }

    .header__navigation ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-direction: column;
        padding: 0;
    }

    .header__navigation ul li {
        margin-bottom: 10px;
    }

    .header__navigation_li figure {
        display: none;
    }

    /*

    .header__navigation {
        width: 100%;
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: none;
        flex-direction: column;
    }*/

    .header__navigation ul li {
        width: 100vw;
        border-right: none;
        margin-top: 14px;
    }

    .footer-contact-info {
        margin: 0;
        margin-left: 0;
    }


    .title-spanish h1 {
        font-size: 3rem;
    }

    .form-box {
        flex-direction: column;
    }

    .logo-footer-mobile img {
        width: 200px;
    }

    .footer-box {
        flex-direction: column;
        height: auto;
    }

    .image-footer-mobile {
        display: none;
    }



}


@media (max-width: 820px) { 

    /*--- evolucion section ---*/

    .evolucion-section__content {
        flex-direction: column;
        justify-content: space-between;
        max-width: 80%;
        width: 100vw;
    }

    .evolucion-section__content_text {
        width: 100%;
    }

    .evolucion-section__content_form form {
        align-items: start;
    }

    .evolucion-section__content_form .form-input {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .evolucion-section__content_form .form-input label {
        margin-bottom: 1vw;
    }

    .evolucion-section__content_form form .form-input input {
        width: auto;
    }

    /* ------ */

    /*--- valor section ---*/

    .valor-section {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .valor-section__content {
        flex-direction: column-reverse;
        max-width: 80%;
        width: 100vw;
        padding-left: 0vw;
        margin-top: 4vw;

    }

    .valor-section__image {
        position: initial;
    }

    .valor-section__content_image img {
        position: initial;
        margin-top: 1vw;
        margin-bottom: 0vw;
        width: 200px;
        height: auto;
    }

    /* ------ */

    /*--- stress section ---*/

    .stress-section__content {
        max-width: 80%;
        width: 100vw;
        margin-top: 4vw;
        flex-direction: column-reverse;
        margin-left: 0;
    }

    .stress-section__content_image {
        justify-content: initial;
    }

    .stress-section__content_image img {
        position: initial;
        margin-top: 1vw;
        width: 200px;
        height: auto;
    }

    
    /* ------ */

    /*--- results section ---*/

    .results-section__content_image-mobile {
        display: block;
    }

    .results-section__image_content-image {
        display: none;
    }

    .results-section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .results-section__content {
        max-width: 80%;
        width: 100vw;
        padding-top: 4vw;
    }

    .results-section__image {
        display: flex;
        justify-content: center;
        max-width: 100%;
        height: auto;
    }

    .results-section__content_image-mobile {
        margin-bottom: 3vw;
    }

    .results-section__content_image-mobile img {
        position: initial;
        margin-top: 1vw;
        width: 200px;
        height: auto;

    }

    /* ------ */

    /*--- comunication section ---*/

    .comunication-section {
        flex-direction: column;
        align-items: center;
    }

    .comunication-section__content {
        padding-top: 4vw;
    }

    .comunication-section__image {
        display: flex;
        justify-content: center;
        max-width: 100%;
        height: auto;
    }

    .comunication-section__content {
        max-width: 80%;
        width: 100vw;
        margin-left: 0;
    }

    /* ------ */

    /*--- comunication section ---*/

    .vinculos-section__image {
        display: flex;
        justify-content: center;
        max-width: 100%;
        height: auto;
        margin-left: 0;
    }

    .vinculos-section__content_image-logo {
        margin-bottom: 2vw;
    }

    .vinculos-section__content {
        max-width: 80%;
        width: 100vw;
        flex-direction: column;
        margin-top: 5vw;
    }

    .vinculos-section__content_text {
        width: 100%;
    }

    .vinculos-section__content_form form {
        align-items: flex-start;
    }

    .vinculos-section__content_form form .form-input{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .vinculos-section__content_form form .form-input input {
        width: auto;
    }

    .vinculos-section__content_form form .form-submit input {
        width: 12vw;
    }

}

@media(max-width: 580px) {

    .link-icon {
        width: 20px;
        height: 20px;
    }

    .second-header-mobile {
        display: flex;
    }

    .image-footer-desktop {
        display: none;
    }

    .image-footer-mobile {
        display: block;
    }

    .second-header-box_icons ul {
        margin-left: 55vw;
    }

    .li-language li a {
        text-decoration: none;
        font-size: 12px;
        
    }

    .li-language li {
        margin-right: 15px;
        margin-left: 5px;
    }

    .contact__list-li {
        margin-right: 14px;
    }

    .second-header-desktop {
        display: none;
    }

    .header__list-li {
        margin-right: 14px;
        padding-left: 0px;
        font-size: 0;
    }

    .li-language {
        display: flex;
        flex-direction: row;
        /*margin-left: 5px;*/
        border-left: 1px solid #7C93B5;
        padding-left: 5px;
    }

    .second-footer-box_text {
        padding-top: 16px;
    }

    .second-footer-box_icons {
        padding-top: 15px;
    }

    .second-header-box {
        flex-direction: row;
    }

    .second-header-box_icons ul {
        width: 0;
        justify-content: start;
    }

    .second-footer-box_text p {
        font-size: 10px;
        
    }

    .title-spanish h1 {
        font-size: 45px;
        line-height: 36px;
        text-align: center;
    }

    .second-header-box_text ul {
        width: auto;
        margin-top: 4px;
        padding-left: 10px;
    }

    .contact__list-li i {
        display: none;
    }

    .footer-box {
        align-items: baseline;
    }

    .contact__list-li {
        text-align: center;
    }

    .logo-footer-desktop {
        display: none;
    }

    .logo-footer-mobile {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .logo-footer-mobile img {
        width: 200px;
    }

    .footer-contact-info ul {
        margin-top: 6vw;
        text-align: center;
        padding-left: 1rem;
    }

    footer {
        padding: 12px;
    }

    .footer-list a svg {
        display: none;
    }

}

@media (max-width: 500px) { 

    .evolucion-section__content_form form .form-submit input {
        width: 20vw;
    }

    .vinculos-section__content_form form .form-submit input {
        width: 20vw;
    }

}

@media(max-width: 393px) {

    .second-header-box_icons ul {
        margin-left: 48vw;
    }

    .title-spanish h1 {
        font-size: 45px;
    }


}

@media(max-width: 350px) {

    .second-header-box_icons ul {
        margin-left: 42vw;
    }
}

/* ------ */